<li><a href="/">Home</a></li>
        
        {% if user.is_authenticated %}
             <li><a href="/account">{{user.username|title}}</a></li>
             <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/user-register">Tenant Register</a></li>
            <li><a href="/landlord-register">Landlord Register</a></li>
        {% endif %}