{% extends 'header.html' %}

{% block content %}

    {% if user.type_of_user == 'tenant' %}
    <h2>Your Apartment</h2>
    <div class="row">
        {% for apt in Apartments %}
            <h4>Building Address: {{apt.building_address}}</h4>
             <h4>Unit Number: {{apt.building_unit_number}}</h4>
            <h4>Number of Bedrooms: {{apt.apartment_bedrooms}}</h4>
            <h4>Number of Bathrooms: {{apt.apartment_bathrooms}}</h4>
            <h4>Rent Amount: ${{apt.apartment_rent}}</h4>
            <h4>Apartment status: {% if apt.apartment_occupied %}
                You are currently an active lease holder for this Apartment
                {% else %}
                You are are currently awaiting landlords aproval of lease. <a href="/{{apt.building_slug}}-lease">View Lease</a>
                {% endif %}
                </h4>
        {% endfor %}
    </div>

    {% else %}
    <h2>Your Apartment</h2>
                {% for apt in Apartments %}
                        <h4>Building Address: {{apt.building_address}}</h4>
                        <h4>Unit Number: {{apt.building_unit_number}}</h4>
                        <h4>Number of Bedrooms: {{apt.apartment_bedrooms}}</h4>
                        <h4>Number of Bathrooms: {{apt.apartment_bathrooms}}</h4>
                        
                         {% if apt.apartment_occupied %}
                         
                         <hr/>
                                <h4>Current Tenant</h4>
                                {% for u in userpro %}
                                <h5>Name: {{ u.first_name }} {{u.last_name}}</h5>
                                <h5>Phone: {{ u.phone }}</h5>
                                <h5>DOB: {{ u.date_of_birth }}</h5>
                                <h5>Email: {{ u.email }}</h5>
                                <h5>Current Rent Amount: ${{ apt.apartment_rent}} </h5>
                                {% endfor %}

                            {% else %}
                         <hr>
                         <div class="container">
                             <h4>Add Tenant To Lease</h4>
                            <form method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                    
                                <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Add User</button>
                    
                            </form>
                    
                        </div>

                


                         {% endif %}

                        {% endfor %}

                        {% endif %}
    <hr/>
{% endblock %}