{% extends 'header.html' %}

{% block content %}

        <div class="container">
    <h2>Your Building</h2>
    <div class="row">
        {% for bld in Buildings %}
            <h4>Building Address: {{bld.buidling_address}}</h4>
             <h4>Building Zip Code: {{bld.building_zip}}</h4>
             <h4>Number of Units in Building: {{bld.number_of_units}}</h4>
             <h4>Building Owner: {{bld.building_owner}}</h4>
        {% endfor %}
    </div>

    <hr/>
    <h2>Apartments in Building</h2>
        {% for apt in Apartments %}
        <div class="col s12 m6 l4">
                <a href="/{{apt.apartment_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Apartment: {{apt.building_unit_number}}</div>
                            <p>Current rent: {{apt.apartment_rent}}</p>
                            {% if apt.apartment_occupied %}
                            <p>Current Renter: {{apt.userRenter}}</p>
                            {% else %}
                            <p> Apartment currently Vacant</p>
                            {% endif %}
                            <p>Num of Beds: {{apt.apartment_bedrooms}}</p>
                            <p>Num of Baths: {{apt.apartment_bathrooms}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}



</div>

{% endblock %}