{% extends 'header.html' %}

{% block content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Create Plan</button>

        </form>

    </div>
{% endblock %}