{% extends 'header.html' %}

{% block content %}
  <div class="row">
   <h4>Welcome to the beta SQ platform for tenant and landlord interactions.</h4>
<hr>

  {% if user.is_authenticated %}  
  <a href="/landlord-overview" class="waves-effect waves-light btn">Landlords</a>
  <br>
  <br>
  <a href="/user-overview" class="waves-effect waves-light btn">Tenant</a>
  </div>
  {% else %}
  <h4>Please <a href="/login">Login! </a></h4>
  {% endif %}

{% endblock %}