{% extends 'header.html' %}

{% block content %}

    <h2>Buildings</h2>
    <div class="row">
        {% for bld in Buildings %}
            <div class="col s12 m6 l4">
                <a href="/{{bld.building_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Building: {{bld.buidling_address}}</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>-->
                            <p>Address: {{bld.buidling_address}}</p>
                            <p>Num apts: {{bld.number_of_units}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <hr/>
    <h2>Apartments</h2>


    <div class="row">
        {% for apt in Apartments %}
            <div class="col s12 m6 l4">
                <a href="/{{apt.apartment_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Apartment: {{apt.building_unit_number}}</div>
                            <p>Address: {{apt.building_address}}</p>
                            <p>Current Renter: {{apt.userRenter}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}